<footer style="background-color: #e5f7fc;">
    <div class="container border-bottom">

        <section class="contact-me text-center">
            <div class="container my-3">
                <div class="col">
                    <a href="https://telegram.me/HardyDon" target="_blank">
                        <i class="bi bi-telegram teleg mx-2"></i></a>
                    <a href="https://github.com/SaberHardy" target="_blank">
                        <i class="bi bi-github teleg mx-2"></i></a>
                    <a href="https://www.facebook.com/saberbounehas" target="_blank">
                        <i class="bi bi-facebook teleg mx-2"></i></a>
                    <a href="https://www.linkedin.com/in/saberbounehas/" target="_blank">
                        <i class="bi bi-linkedin teleg mx-2"></i></a>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <p class="rights">All rights reserved &copy; <em id="date"></em>BOUNEHAS SABER</p>
                    </div>
                    </hr>
                </div>
            </div>
        </div>
    </div>

</footer>