body {
    background-color: #212325;
}

p, h2, h3, h4, h5, ul, li {
    color: #c9c8c8;
}

h1 {
    color: aliceblue;
}

.ul-items a {
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 25px;
}

.MyLogo {
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 25px;
}

.myimage {
    border-radius: 6%;
    height: 40rem;
}

.who {
    background-color: #e5f7fc;
    text-align: center;
    border-radius: 3%;
}

.who p {
    font-size: 100px;
    font-family: Serif;
    color: #1a1e21;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #070707;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
}

.styled:hover {
    background-color: rgb(255, 250, 178);
}

.myname p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
}

.rights {
    color: #070707;
}

.teleg {
    font-size: 30px;
}


.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #ffffff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #7ac9f9;
}
