body {
    background-color: #212325;
}

p, h2, h3, h4, ul, li {
    color: #c9c8c8;
}

h1 {
    color: aliceblue;
    font-family: Zapfino;
}

.ul-items a {
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 25px;
}

.MyLogo {
    color: white;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 25px;
}

.myimage {
    border-radius: 6%;
    height: 40rem;
}

.who {
    background-color: #e5f7fc;
    text-align: center;
    border-radius: 3%;
}

.who p {
    font-size: 100px;
    font-family: Serif;
    color: #1a1e21;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #070707;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
}

.styled:hover {
    background-color: rgb(255, 250, 178);
}

.myname p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 2rem;
}

.rights, h5 {
    color: #070707;
}

.teleg {
    font-size: 30px;
}


.back-to-top {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background: #ffffff;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.5s;
}

.back-to-top:hover {
    opacity: 60%;
}

.hidden {
    opacity: 0%;
}

.back-to-top-icon {
    width: 1rem;
    height: 1rem;
    color: #7ac9f9;
}

#contact {
    padding: 100px 0;
    background: #f3f3f3;
}

.form__label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container-div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container-div h1 {
    margin-top: 10px;
    color: #070707;
}

.mylabel {
    font-family: Zapfino;
}

a:link, a:focus, a:visited  {
    text-decoration: none;
    font-size: 15px;
}

.where {
    font-size: 15px;
}